@import url('https://fonts.googleapis.com/css?family=Dosis');

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5ch;
    display: flex;
    justify-content: space-around;
}



body {
    font-family: Geneva, sans-serif;
    background-image: url("westernEurope.jpg");
}

main {
    display: flex;
    justify-content: space-around
    
}

#enterCountry {
  background-color: rgb(200, 200, 255);
  align-items: center;
  border: 4px solid #300963;
  padding: 1rem;
  width: 50%;
  height: 150px;
}

ol {
  font-weight: bold;
}

ol li {
  list-style: none; /*removes bullets*/
  background-color: rgb(200, 200, 255);
  padding: 1rem;
  color: black;
  width: auto;
  align-items: baseline;
}

